/* global variables */
:root {
    --headerBgColor: #383E54;
    --font-family: 'Roboto', sans-serif;
    --font-size: 18px;
    --font-bold-weight: 700;
    --font-light-color: #fff;
    --font-dark-color: #000;
    --black: #000;
    --base-margin: 16px;
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 12px;
    --spacing-md: 16px;
    --spacing-lg: 22px;
    

}